/* body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
  } */

/* body {
    background-color: blue;
} */




.flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}